.banner {
    
    background-image:
    
    linear-gradient(to top right, rgba(228,221,221, 0.50) 10%, rgba(0,0,0, 0.80 ) 60%),
    url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fhome-camera%2F32&psig=AOvVaw366cWrz70fsR4DEaPp3vEv&ust=1690113000109000&source=images&cd=vfe&opi=89978449&ved=0CA0QjRxqFwoTCJDajuafooADFQAAAAAdAAAAABAS);
     background-size:cover;
     height: 300px;
  }
  a {
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 5px;
}
  
  h1 {
  font-size: 2.8em;
  font-weight: 800;
}
.btn-bgstroke {
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 30px; 
}

.topnav {
  background-color: #333;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #ee44;
  color: white;
}
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 0.5rem;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

main {
    padding: 1rem;
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.product {
    border: 1px solid #ccc;
    padding: 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
